{
    "Params": {
        "DevMode": {
            "Instrumentation": {
                "command": "",
                "env": {"ENABLE_BLUEMIX_DEV_MODE": true},
                "memory": "256M"
            },
            "Packager": "com.ibm.perfectstorm.cloudoe.packager.LiveEditDeploymentPackager"
        },
        "Name": "speech2text",
        "Target": {
            "Org": "vmorris@us.ibm.com",
            "Space": "run",
            "Url": "https://api.ng.bluemix.net"
        },
        "Timeout": 60
    },
    "Path": "",
    "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
    "Type": "Cloud Foundry"
}